<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificación de Cuenta</title>
    <link rel="icon" type="image/png" href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgpWNJzbA4me80-XIKC7ywRATTRH7x2nqOH7_PcxyuA72OhZS-cH8hkXG39AQdjBdbB3gCK7HpukgEazntbleaitwuh3AUxUSq9L88SHRxkbSsyl04k4EhroLSNa6z0hEciB1QSgT4Cx7uzA7vP70KpskW970KsNi57TE5jTPxEM1iGJ3tLWFNXkT5SIX_A/w320-h320/GoEs_Logo.png">
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f4f4f4;
        }
        .container {
            text-align: center;
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 300px;
        }
        #message {
            font-size: 18px;
            color: #27ae60;
        }
        #logo {
            width: 100px;
            margin-bottom: 20px;
        }
        button {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            background-color: #3498db;
            color: white;
            border: none;
            border-radius: 5px;
            margin-top: 20px;
        }
        button:hover {
            background-color: #2980b9;
        }
    </style>
</head>
<body>
    <div class="container">
        <img id="logo" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgpWNJzbA4me80-XIKC7ywRATTRH7x2nqOH7_PcxyuA72OhZS-cH8hkXG39AQdjBdbB3gCK7HpukgEazntbleaitwuh3AUxUSq9L88SHRxkbSsyl04k4EhroLSNa6z0hEciB1QSgT4Cx7uzA7vP70KpskW970KsNi57TE5jTPxEM1iGJ3tLWFNXkT5SIX_A/w320-h320/GoEs_Logo.png" alt="Logo" />
        <div id="message"><%= message %></div>
        <button id="closeButton" onclick="window.close()">Cerrar pestaña</button>
    </div>
</body>
</html>